@model IEnumerable<FinalProject.Models.BankAccount>

@{
    ViewBag.Title = "Index";
}

<h2>Bank Accounts - @Model.Count()</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @ViewBag.message
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BankNameAccountNo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BankNameAccountNo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
