@model FinalProject.Models.Transaction

@{
    ViewBag.Title = "Card Debit";
}

<h2>Card Debit</h2>
<div style="width:100%;">
    <div class="MessageFromController" style="color:green;margin-left:40%;margin-right:40%">@ViewBag.Message</div>
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.TransactionID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TransactionID)
                @Html.ValidationMessageFor(model => model.TransactionID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeStamp, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.TimeStamp)
                @Html.ValidationMessageFor(model => model.TimeStamp)
                (DD/MM/YYYY hh:mm:ss)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CardID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CardID)
                @Html.ValidationMessageFor(model => model.CardID)
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <b>Mobile Number</b>
            </div>
            <div class="col-md-10">
                @Html.TextBox("username")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount)
                @Html.ValidationMessageFor(model => model.Amount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Remarks, new { @class = "control-label col-md-2" }) 
            <div class="col-md-10">
                @Html.EditorFor(model => model.Remarks)
                @Html.ValidationMessageFor(model => model.Remarks)
                (Product,Volume,Rate,Location)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
